.form__btn {
  display: flex;
  justify-content: space-between;
  width: clamp(260px, 80vw, 360px);
  .login_btn,
  .register_btn {
    background: none;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-bl);

    .active {
      color: var(--color-grey-2);
    }
  }
}
