// внешний слой: во всю ширину экрана, на нём фон
.navWrapper {
  background-color: var(--color-bl);
}

// внутренний: ограничен и отцентрован, на нём содержимое
.nav {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px;

  .menu,
  .iconMenu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: clamp(1rem, 0.704rem + 1.48vw, 2rem);
  }

  .menuItemLink {
    color: var(--color-white);
    font-size: var(--text-12);

    transition: color 0.5s;

    &:hover {
      color: var(--color-orange);
    }
  }

  .searchButton {
    border: none;
    background: transparent;
    cursor: pointer;
  }

  .searchOverlay {
    position: absolute;
    top: 100%;

    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 16px;

    background-color: var(--color-bl);
    border: 1px solid var(--color-dark-grey);
    border-radius: 6px;

    .searchInput {
      width: 260px;
      border: var(--color-grey-1);
      outline: none;
      background: transparent;

      color: var(--color-white);
      font-size: var(--text-20);

      &::placeholder {
        color: var(--color-grey-2);
      }
    }
  }
}

@media (max-width: 767px) {
  .nav {
    .menu {
      display: none;
    }

    .searchOverlay {
      left: 10px;
      right: 10px;

      width: auto;
    }
  }
}
